<?xml version="1.0" encoding="UTF-8"?>
<!--模块配置-->
<!-- 标识说明 
	id 值小于100 的为基础工具 大于100自定义工具
	module.name 模块显示名称
	symbol 模块导出类标识
	type 应用类型 0 默认为框架内的动态库 1 后缀为.jar的java可运行程序 2 可执行文件 windows 默认后缀.exe linux下为可执行文件 3 经过改造的jar文件
	available 标识模块是否可用 0 不可用 1 可用 2 不能直接调用
	toolname 工具名称 不包含文件后缀 在不同平台下文件名称保持一致
	tooltype 工具类型 1 基础工具类型 用来进行路径导出设置 0 其他类型
	tool
	help 工具提示信息
	param.name 参数 param.default 参数是否默认使用
	general 通用参数标识 不进行模块识别
	valueneed 参数标识时候必须要带输入值 0 不需要 1 需要
	attributes 参数属性 0 通用参数 1 专用参数 不指定 为0
	valuetype 参数值类型 0 字符串 1 路径参数
	depend 依赖参数
	zpfi infi hifi fifi
	file 对应需要解压的文件 多个文件用 ; 进行分割 支持通配符
	路径问题要注意windows \\ 下 linux 下 /
-->

<resources>
	<module id="1" name="zip工具" symbol="myzip" type="2" available="1" help="" toolname="bin\myzip">
	</module>
	<module id="2" name="xml打印工具" symbol="AXMLPrinter2" type="1" available="0" help="" toolname="bin\AXMLPrinter2">
	</module>	
	<module id="44" name="smali编译工具" symbol="smali-2.1.0" type="1" available="0" help="" toolname="bin\smali-2.1.0">
	</module>
	<module id="33" name="smali反编译工具" symbol="baksmali-2.1.0" type="1" available="0" help="" toolname="bin\baksmali-2.1.0">
	</module>
	<module id="6" name="xml修改工具" symbol="AxmlModify" type="2" available="2" help="" toolname="bin\AxmlModify">
	</module>	
	<module id="7" name="签名工具" symbol="signapk" type="1" available="0" help="" toolname="signapk">
	</module>	
	<module id="4" name="smali反编译工具" symbol="baksmali2" type="1" available="2" help="" toolname="bin\baksmali-2.1.3">
	</module>	
	<module id="3" name="smali编译工具" symbol="smali2" type="1" available="2" help="" toolname="bin\smali-2.1.3">
	</module>
	<module id="51" name="密钥和证书管理工具" symbol="keytool" type="2" available="0" version="5.0.1" check="ENCRYPTION SUCCESS" toolname="keytool" help="" >
	</module>
	<module id="101" name="防截屏防劫持" symbol="CApkGeneral" type="3" available="1" help="" version="5.0.1" check="ENCRYPTION SUCCESS" toolname="module\Integration\Integration" >
		<param name="-fifi" name1 ="" attributes = "0" valueneed = "1" default="0" desc="文件路径" />
		<param name="-injp" name1 ="-jp" attributes = "1" valueneed = "0" desc="防截屏" />
		<param name="-inmn" name1 ="-mn" attributes = "1" valueneed = "0" desc="防模拟" />
		<param name="-injc" name1 ="-jc" attributes = "1"  valueneed = "0" desc="劫持提醒" />
		<param name="-incf" name1 ="-cf" attributes = "1" valuetype = "1" valueneed = "1" desc="防截屏指定配置文件" />
		<param name="-hfdz" name1 ="-custom" attributes = "1" valuetype = "1" valueneed = "1" desc="恒丰定制" />
		<param name="-winfocus" name1 ="-winfocus" attributes = "1" valuetype = "1" valueneed = "0" desc="防劫持添加'onwindowfocuschanged'方法." />
	</module>
	<module id="123" name="游戏内存加密工具" symbol="CApkGeneral" type="3" available="1" toolname="module\GameIntegration\GameIntegration" version=" V04.17.10.18" check="ENCRYPTION SUCCESS" help="TestShared.apk -nc -dll Assembly-CSharp-firstpass.dll;Assembly-CSharp.dll -lua lua.txt"  >
		<param name="-fifi" name1 ="" attributes = "1" valueneed = "1" default="0" desc="输入apk文件" />
		<param name="-ganc" name1 ="-mem" attributes = "1" valueneed = "1" default="0" desc="内存加密" >
			<subparam name="1" name1 ="1" attributes = "1" valueneed = "0" file="*.so" default="0" desc="so加密" />
			<subparam name="2" name1 ="2" attributes = "1" valueneed = "0" file="*" default="0" desc="更新包so加密" />
			<subparam name="3" name1 ="3" attributes = "1" valueneed = "0" depend = "-gaso" default="0" desc="指定so文件进行加密" />
		</param>
		<param name="-gaso" name1 ="-soname" attributes = "1" valueneed = "1" valuetype = "0" default="0" desc="so 文件路径 配合 -ganc 3 使用" />
		<param name="-glua" name1 ="-lua" attributes = "1" valueneed = "1" file="*.lua" default="0" desc="更新包lua加密" >
			<subparam name="1" name1 ="1" attributes = "1" valueneed = "0" depend = "-gluapath" default="0" desc="apk包lua加密" />
			<subparam name="2" name1 ="2" attributes = "1" valueneed = "0" depend = "-gluapath" file="*" default="0" desc="更新包lua加密" />
		</param>
		<param name="-gluapath" name1 ="-luapath" attributes = "1" valueneed = "1"  default="0" desc="配合-glua参数指明lua配置路径" />
		<param name="-gdll" name1 ="-dll" attributes = "1" valueneed = "1" file="" default="0" desc="更新包dll加密" >
			<subparam name="1" name1 ="1" attributes = "1" valueneed = "0" depend = "-gdllpath" default="0" desc="老版本dll加密" />
			<subparam name="2" name1 ="2" attributes = "1" valueneed = "0" depend = "-gdllpath" default="0" desc="新版本dll加密" />
			<subparam name="3" name1 ="3" attributes = "1" valueneed = "0" depend = "-gdllpath" default="0" desc="加强版dll加密" />
			<subparam name="4" name1 ="4" attributes = "1" valueneed = "0" depend = "-gdllpath" file="*" default="0" desc="更新包dll加密" />
		</param>
		<param name="-gdllpath" name1 ="-dllnames" attributes = "1" valuetype = "0"  valueneed = "1" default="0" desc="配合-gdll参数指明dll配置路径" />
	</module>
	<module id="124" name="资源隐藏工具" symbol="HideApkResNew" type="3" available="1" help="" version="5.0.1" check="ENCRYPTION SUCCESS" toolname="module\ApkRes\HideApkResNew" >
		<param name="-fifi" name1 ="-f" attributes = "0" valueneed = "1" default="0" desc="输入apk文件" />
		<param name="-hicf" name1 ="-i" attributes = "1" valueneed = "1" valuetype = "1" default="0" desc="配置文件路径" />
	</module>
	<module id="999" name="拆包工具" symbol="ModifyDex" type="2" available="1" toolname="module\Modifydex\IJMModifydex" version="3.3" check="ENCRYPTION SUCCESS" help=""  >
		<param name="-fifi" name1 ="-f" attributes = "1" valueneed = "1" default="0" desc="输入apk文件" />
		<param name="-mofn" name1 ="-n" attributes = "1" valueneed = "1" default="0" desc="拆分文件数量" />
		<param name="-mofc" name1 ="-c" attributes = "1" valueneed = "0" default="0" desc="移动文件数量" />
		<param name="-nomv" name1 ="-momv" attributes = "1" valueneed = "0" default="0" desc="不做移动文件列表" />
	</module>
</resources>
